$white: #ffffff;
$grey-100: #faf9f7;

$brown-100: #4a3c31;
$brown-200: #5f5f3c;

$yellow-100: #b8a30a;
$yellow-200: #ffa700;
$yellow-300: #919163;

$green-100: #6e8b0c;
$green-200: #547403;
$green-300: #326b24;
$green-400: #324a04;
