@use "../utils/breakpoints";
@use "../utils/colors";
@use "../utils/easings";
@use "../utils/helpers";
@use "../utils/type";

.accordion {
	position: relative;
	overflow: hidden;
	padding: 105px 0 184px 0;
}

.accordion__wrapper__title {
	text-align: center;
}

.accordion__items {
	@include helpers.push-auto;
	margin-top: 110px;
	max-width: 919px;
	width: 95%;
}

.accordion__items__item {
	--height: auto;
	--icon-rotation: -90deg;
	background: colors.$grey-100;
	padding: 24px 30px;
	height: var(--height);
	transition: height 0.4s easings.$ease-in-out-back;

	&[open] {
		--icon-rotation: 0deg;
	}
}

.accordion__items__item__question {
	--text-color: #{colors.$black};
	@include type.type(17px, 1.25, 0, 600);
	cursor: pointer;
	list-style: none;
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: space-between;
}

.accordion__items__item__question__icon {
	transform: rotate(var(--icon-rotation));
	transition: transform 0.3s easings.$ease-in-out-expo;
}

.accordion__items__item__answer * {
	--text-color: #{colors.$black};
	@include type.type(17px, 24px);
	margin-top: 10px;
}

.accordion__items__item + .accordion__items__item {
	margin-top: 5px;
}

.accordion__illustration {
	position: absolute;
	bottom: -20px;
	right: 0;
	display: block;
	z-index: -1;
}
