@use "utils/breakpoints";
@use "utils/colors";
@use "utils/components";
@use "utils/type";
@use "utils/helpers";

.iwt {
	--content-background: #{colors.$green-300};
	--flex-direction: row;

	&--image-left {
		--flex-direction: row-reverse;
	}

	&--background-medium {
		--content-background: #{colors.$green-200};
	}

	&--background-light {
		--content-background: #{colors.$green-100};
	}
}

.iwt__wrapper {
	@include breakpoints.laptop {
		display: flex;
		flex-direction: var(--flex-direction);
	}
	display: flex;
	flex-direction: column-reverse;
}

.iwt__image-container {
	flex-basis: 66.66%;
}

.iwt__image-container__image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	max-height: 741px;
}

.iwt__main {
	flex-basis: 33.33%;
	background: var(--content-background);
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 322px;
}

.iwt__content {
	@include helpers.push-auto;
	max-width: 456px;
	text-align: center;
	padding: 20px;
}

.iwt__content__title {
	--text-color: #{colors.$white};
	@include type.heading-three;
}

.iwt__content__body {
	--text-color: #{colors.$white};
	@include type.body;
	margin-top: 30px;
}

.iwt__content__link {
	@include components.button;
	@include helpers.push-auto;
	margin-top: 16px;

	@include breakpoints.tablet {
		margin-top: 24px;
	}
}
