@use "utils/breakpoints";
@use "utils/colors";
@use "utils/type";

.hero-section {
	position: relative;
}

.hero-section__image {
	width: 100%;
	height: auto;
	max-height: 817px;
	object-fit: cover;
}

.hero-section__wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	transform: translate(-50%, -50%);
}

.hero-section__title {
	--text-color: #{colors.$white};
	@include type.heading-one;
	text-align: right;
	margin-left: auto;
	margin-right: 0;
	max-width: 727px;

	&--centered {
		text-align: center;
		margin: 0 auto;
	}
}
