@font-face {
	font-family: "Brandon Printed";
	src: url("/fonts/brandon-printed.woff2") format("woff2"),
		url("/fonts/brandon-printed.woff") format("woff");
}

:root {
	--font-heading: Brandon Printed, helvetica, arial, sans-serif;
	--font-body: proxima-nova, helvetica, arial, sans-serif;
}
